<%= render :partial => "layouts/templates/books_template" %>
<%= render :partial => "layouts/templates/book_template" %>

<script id="alert_template" type="text/x-jquery-tmpl">
  <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    ${value}
  </div>
</script>